In [1]:
import pandas as pd
import numpy as np
import datetime
import time
import calendar

In [2]:
mca = pd.read_csv('C:/Users/mauri/Documents/Important IH Files/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

# 1. Show the dataframe shape.

In [ ]:
mca.shape[0]

# 2. Standardize header names.

In [ ]:
#Head names appear to be fine, will apply strip function just in case
mca.columns = list(map(lambda x: x.strip(), mca.columns))

In [ ]:
mca.columns

In [ ]:
mca.head()

# 3. Which columns are numerical?

In [ ]:
print(list(mca.select_dtypes('number').head(0)))

# 4. Which columns are categorical?

In [ ]:
print(list(mca.select_dtypes('object').head(0)))

In [ ]:
mca['EmploymentStatus']

# 5. Check and deal with NaN values.

In [ ]:
# We do have some choice as to how to deal with 
null_list = mca.isna().sum()
null_list.to_frame()

In [ ]:
null_trans = null_list.to_frame().T

In [ ]:
# Going to drop vehicle type, the only two data points DONE

# State                             631 Done 
# Response                          631 Done
# Months Since Last Claim           633 Done
# Number of Open Complaints         633 Done
# Vehicle Class                     622 Done
# Vehicle Size                      622 Done
# Vehicle Type                     5482
null_list

In [ ]:
mca['Months Since Last Claim'].value_counts(dropna=False)

In [ ]:
mca['Months Since Last Claim'].unique()

In [ ]:
mca.drop(['Vehicle Type'], inplace = True, axis = 1)

In [ ]:
# State                             631 
larg_state = mca['State'].value_counts().index[0]
larg_state

In [ ]:
mca['State'] = mca['State'].fillna(larg_state)

In [ ]:
# Response                          631
mca['Response'].value_counts(dropna= False)/mca.shape[0]*100

In [ ]:
larg_response = mca['Response'].value_counts().index[0]
mca['Response'] = mca['Response'].fillna(larg_response)
mca['Response'].value_counts(dropna= False)

In [ ]:
mca['Months Since Last Claim'].value_counts(dropna=False)/mca.shape[0]*100

In [ ]:
larg_mslc = mca['Months Since Last Claim'].value_counts().index[0]
mca['Months Since Last Claim'] = mca['Months Since Last Claim'].fillna(larg_mslc)

In [ ]:
# Number of Open Complaints
mca['Number of Open Complaints'].value_counts(dropna=False)/mca.shape[0]*100

In [ ]:
larg_nooc = mca['Number of Open Complaints'].value_counts().index[0]
mca['Number of Open Complaints'] = mca['Number of Open Complaints'].fillna(larg_nooc)

In [ ]:
# Vehicle Class
mca['Vehicle Class'].value_counts(dropna=False)/mca.shape[0]*100

In [ ]:
larg_vc = mca['Vehicle Class'].value_counts().index[0]
mca['Vehicle Class'] = mca['Vehicle Class'].fillna(larg_vc)

In [ ]:
# Vehicle Size
mca['Vehicle Size'].value_counts(dropna=False)/mca.shape[0]*100

In [ ]:
larg_vs = mca['Vehicle Size'].value_counts().index[0]
mca['Vehicle Size'] = mca['Vehicle Size'].fillna(larg_vs)

In [ ]:
mca['Effective To Date'].value_counts()

# 6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [ ]:
mca['Effective To Date'] = pd.to_datetime(mca['Effective To Date'])
mca.dtypes

In [ ]:
# Look how much you have grown 
Month_Claim = []
for item in mca['Effective To Date']:
    #print(calendar.month_abbr[item.month])
    Month_Claim.append(calendar.month_abbr[item.month])

In [ ]:
mca['Month_Claim'] = Month_Claim
mca.head()

In [ ]:
# didn't understand the question, decided to make a filter which gave me the data for only the month of January, stored it as a new dataframe
mca_jan = mca[(mca['Effective To Date'] > '2011-01-01') & (mca['Effective To Date'] < '2011-02-01')]
mca_jan.reset_index(inplace = True)
mca_jan

In [ ]:
mca = mca[(mca['Effective To Date'] > '2011-01-01') & (mca['Effective To Date'] < '2011-02-01')]
mca.reset_index(inplace = True)
mca

In [ ]:
print(mca['Effective To Date'].shape[0])

# BONUS: Put all the previously mentioned data transformations into a function.

In [3]:
def clean(df):
    shape = print('The Shape Of This Dataframe Is',df.shape[0]) # Show the dataframe shape. 
    df.columns = list(map(lambda x: x.strip(), df.columns)) # Standardize header names
    num_col = print('The following columns are numerical',(list(df.select_dtypes('number').head(0)))) # Which columns are numerical?
    cat_col = print('The following columns are categorical',list(mca.select_dtypes('object').head(0))) # Which columns are categorical?
    # Cleaning up Null Values and replacing them 
    df.drop(['Vehicle Type'], inplace = True, axis = 1) #Drop Vehicle Type
    larg_state = df['State'].value_counts().index[0] #State replace Null
    df['State'] = df['State'].fillna(larg_state)
    larg_response = df['Response'].value_counts().index[0] #Response replace null
    df['Response'] = df['Response'].fillna(larg_response)
    larg_mslc = df['Months Since Last Claim'].value_counts().index[0] #MSLC replace null
    df['Months Since Last Claim'] = df['Months Since Last Claim'].fillna(larg_mslc)
    larg_nooc = df['Number of Open Complaints'].value_counts().index[0] #Number of open complaints replace null
    df['Number of Open Complaints'] = df['Number of Open Complaints'].fillna(larg_nooc)
    larg_vc = df['Vehicle Class'].value_counts().index[0] #Vehicle Class replace Null
    df['Vehicle Class'] = df['Vehicle Class'].fillna(larg_vc)
    larg_vs = df['Vehicle Size'].value_counts().index[0] # Vehicle Size replace Null
    df['Vehicle Size'] = df['Vehicle Size'].fillna(larg_vs)
    # Change to datatime
    df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])
    Month_Claim = []
    for item in df['Effective To Date']:
    #print(calendar.month_abbr[item.month])
        Month_Claim.append(calendar.month_abbr[item.month])
    df = df[(df['Effective To Date'] > '2011-01-01') & (df['Effective To Date'] < '2011-02-01')]
    df.reset_index(inplace = True)
    df
    return df

In [4]:
mca = clean(mca)

The Shape Of This Dataframe Is 10910
The following columns are numerical ['Unnamed: 0', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies', 'Total Claim Amount']
The following columns are categorical ['Customer', 'State', 'Response', 'Coverage', 'Education', 'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code', 'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size', 'Vehicle Type']

In [5]:
mca

,index,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
1,3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
2,4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,...,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
3,8,8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,...,24,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize
4,9,9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,...,8,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5642,10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,...,30,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize
5643,10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,...,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize
5644,10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,...,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
5645,10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
5646,10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [ ]:
mca